@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    padding: 20px;
    background: #1F2937;
}
.header-wrap{
    display: flex;
    flex: 1 0 100vw;
    justify-content: space-between;
}
.logo{
    width: 50px;
    padding: 0px 200px;
    flex: 1 0 1;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0px 200px;
    flex: 1 0 1;
}
.header-links a{
    text-decoration: none;
    color: #e5e7eb;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: #1F2937;
    /* margin-bottom: 50px; */
    padding: 20px 200px 150px 200px;
}
.hero img{
    flex: 1 1 100%;
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    height: auto;
}
.hero-text{
    flex: 1 1 100%;
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    height: auto;
}
.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-text button{
    background-color: #3882f6;
    color: #f9faf8;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 25px;
    border: none;
    padding: 5px 15px;
}

h2{
font-size: 36px;
color: #1F2937;
font-weight: 900;
text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}
.box-wrapper{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 150px;
    text-align: center;
}
.content .box{
    border: 2px solid lightskyblue;
    width: 100%;
    height: 100%;
}
.box-wrapper .text{
color: lightslategray;
}
.quote{
    display: flex;
    justify-content: center;
    /* width: 500px; */
    flex-direction: column;
    background-color: #e5e7eb;
    margin-bottom: 50px;
    padding: 25px 300px;
}
.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}
.quote-author{
    font-weight: 700;
    color: #1F2937;
    font-size: 20px;
    text-align: right;
    margin: 0;
}
.cta{
    display: flex;
    gap: 50px;
    background-color: #3882f6;
    width: 40vw;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 75px;
}
.cta-title{
font-size: 20px;
font-weight: 700;
color: #f9faf8;
}
.cta-text{
color: #f9faf8;
}
.cta button{
    color: white;
    background-color: #3882f6;
    border: #e5e7eb solid 2px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
}
footer{
    background-color: #1F2937;
    width: 100vw;
    text-align: center;
    color: #e5e7eb;
}